.container{
    max-width:1024px;
    margin:0 auto;
    padding:30px 0;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0 42px 30px;
    .dehaze{
        display: none;
    }
    .logo{
        width:221px;
    }
    .small-logo{
         display: none;
    }
    .menu{
        display: flex;
        a{
            display: block;
            padding:5px 30px;
            text-decoration: none;
            font-weight:bold;
            font-size:16px;
            color: $dark-g;
            line-height: 1.5;
        }
        img{
            margin-left:20px;
        }
    }
}    

@media (max-width:768px){
    .container{
        max-width:100%;
        margin: 0 auto;
    }
    .header{
        justify-content:space-around;
        .logo{
            display: none;
        }
        .small-logo{
            display:block;
            width:40%;
        }
        .dehaze{
            display:block;
            margin-right: 80px;
        }
        .menu{
            .link{
                display: none;
            }
            img{
                margin:0;
            }
        }
    }
}